<%- include("_header") -%>

<h1>About CRUD Test</h1>

<p>Adapted from an online example found <a href="https://blog.pagesd.info/2019/10/08/crud-with-express-sqlite-10-steps/">here.</a></p>

<%- include("_footer") -%>
