<%- include("_header") -%>

<h1>CRUD Test App!!</h1>

<p>This application illustrates basic CRUD (Create, Read, Update, Delete) functionality 
    using a relational (SQLite) and document-based (MongoDB) database.</p>

<p> See the <a href="/books">books</a> page for a demo.</p>

<%- include("_footer") -%>
