<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallery single post- Mustacchio</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width : 568px)">
	<link rel="shortcut icon" type="image/png" href="images/icons/icon-mustache.png"/>
	<script type="text/javascript" src="js/mobile.js"></script>
</head>
<body>

	<div id="body">
		<h1><span>style detail</span></h1>
		
			<img  src="/images/<%= styleid.imageUrl %>">
			<div class="article">
				<h4> Title :  <%= styleid.title%></h4>
				<p>
					Description:   <%= styleid.description%>
				</p>
			</div>
		
	</div>
</body>
</html>
