<html>
  <body>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/style/upload' 
      method='post' 
      encType="multipart/form-data">
        <label>image</label>
        <input type="file" name="sampleFile" />
        <label>title</label>
        <input type="text" name="title" />
        <label>description</label>
        <input type="text" name="description" />
        <input type='submit' value='Upload!' />
    </form>     
  </body>
</html>