

		<h1><span>style gallery</span></h1>
		<ul class="gallery">
			<% styles.forEach((style) => { %>
				<li>
					<a href="/style/<%= style._id %>">
						<img src="images/<%= style.imageUrl %>" alt="">
					</a>
				</li>
			<%})%>
			
		</ul>

	