
		<h1><span>style detail</span></h1>
		<div>
			<img src="/images/<%= style.imageUrl %>" alt="">
			<div class="article">
				<h4><%= style.title.toUpperCase(); %></h4>
				<p>
				<%= style.description %>
				</p>
				<% if(loggedIn) { %>
					<p><a href="/addFavStyle/<%= style._id %>">save as favourite</p>
				<%}%>
			</div>
		</div>
	