<h1><span>stock api summary</span></h1>
<h3>This stock api will be used with the ticker symbol, which will be put after the "http://localhost:3000/api/external/AAPL", AAPL is the ticker symbol for Apple.</h3>
<ul class="gallery">
    
        <li>
            <p>currentPrice : <%= Data %></p>
        </li>
</ul>