<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact - Mustacchio</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width : 568px)">
	<link rel="shortcut icon" type="image/png" href="images/icons/icon-mustache.png"/>
	<script type="text/javascript" src="js/mobile.js"></script>
</head>
<body>
	<div id="body">
		<h1><span>contact requests</span></h1>
		<table>
			
			<thead>
			<tr>
				<th>Date</th>
				<th>Name</th>
				<th>Message</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% lists.forEach(list => { %>
			<tr>
				<td><%= list.datePosted%></td>
				<td><%= list.name%></td>
				<td><%= list.message%></td>
				<td><a href="<%= `/contacts/${list._id}/edit` %>" class="button1">View</a></td>
			</tr>
			<% }); %>
		</tbody>
		</table>
	</div>
	
</body>
</html>
