<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Confetti Cuisine</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/confetti_cuisine.css">
</head>

<body>
	<div id="header">
		<a href="/" class="logo">
			<img src="images/logo.jpg" alt="">
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="/">home</a>
			</li>
			<li>
				<a href="/about">about</a>
			</li>
			<li>
				<a href="/styles">gallery</a>
			</li>
			<li>
				<a href="/blogposts">blog</a>
			</li>
			<li>
				<a href="/contacts/new">contact</a>
			</li>
			<li>
				<a href="contact-list.html">contact requests</a>
			</li>
		</ul>
	</div>
    

	<div class="container">
		<%- body %>
	</div>


	<div id="footer">
		<div>
			<p>&copy; 2023 by Mustacchio. All rights reserved.</p>
			<ul>
				<li>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</li>
				<li>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
				</li>
				<li>
					<a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="http://pinterest.com/fwtemplates/" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>


</body>

</html>
