<div class="data-form">
    <form class="form-signin" action="/create" method="POST">
      <h2 class="form-signin-heading">Create a new course:</h2>
      <label for="inputTitle">Title</label>
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus>
      <label for="inputDescription">Description</label>
      <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description">
      <label for="inputImage">image</label>
      <input type="text" name="imageUrl" id="inputImage" class="form-control" placeholder="Image">
      <br/><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
  </div>
  